# Whitelist Setup
*
!*/

# Whitelist Files
!.gitignore
!.dockerignore
!Dockerfile
!Makefile
!docker-compose.yml
!.env.sample

# Whitelist Directories
!resources/**
!**/wordpress/**
!**/nginx/**
!**/mariadb/**

# Blacklist
.env
